.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.contact-content {
    margin: 10px;
}

.contact-content form {
    border: 1px solid rgba(3, 126, 219, .2);
    width: 50vw;
    padding: 20px;
    text-align: left;
}

.contact-content form input,
.contact-content form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    resize: none;
}

.contact-content form input[type="text"],
.contact-content form input[type="email"],
.contact-content form input[type="number"],
.contact-content form textarea {
    background: none;
    border: 1px solid var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.contact-content form textarea {
    height: 150px;
}

.forms-content {
    margin-top: 20px;
    margin-bottom: 10px;
}

.forms-content--item .error{
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.forms-content--item .error div svg{
    vertical-align: middle;
}

.forms-content#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.forms-content button {
    width: 300px;
    padding: 10px;
    background: none;
    border: 1px solid green;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: green;
    transition: all 0.3s ease-in-out;
}

.forms-content button#true {
    border: 0;
    color: var(--primary-color);
    width: auto;
    background: none;
    pointer-events: none;
}

.forms-content button:hover {
    background: green;
    color: #fff;
}

.spinner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 1s linear infinite;
    font-size: 2rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 960px) {

    .forms-content {
        margin-top: 0;
    }

    .contact-content form {
        width: 90vw;
    }

    .forms-content button {
        width: 90%;
    }
}