footer{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: radial-gradient(at 100% 90%, rgba(3, 126, 219, .2), transparent 50%),
        radial-gradient(at 0% 100%, rgba(3, 126, 219, .2), transparent 50%);
}

footer .content{
    margin: 5px;
}

footer .content span a{
    color: var(--primary-color);
}