.dev-header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.dev-header div h3{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 50px;
}

.dev-header div h5{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gray);
}

.dev-header div span#locale{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
}

.dev-header div:last-child img{
    width: 350px;
    border-radius: 50%;
    user-select: none;
    border: 2px solid var(--primary-color);
}

.dev-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.dev-social div a svg{
    font-size: 2.5rem;
    fill: var(--gray);
    transition: all .2s ease-in-out;
}

.dev-social div a svg:hover{
    transform: scale(1.2);
    fill: var(--primary-color);
}

@media screen and (max-width: 960px) {

    .dev-header{
        gap: 20px;
    }

    .dev-header div h3{
        font-size: 1.8rem;
    }
    
    .dev-header div:last-child img{
        width: 250px;
    }

    .dev-header div h5{
        font-size: 1.1rem;
    }

    .dev-social div a svg{
        font-size: 2rem;
    }
}