@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #037edb;
    --primary-color-rgb: rgb(3, 126, 219);
    --primary-color-variant: rgba(3, 126, 219, .4);

    --secondary-color: #359acc;
    --secondary-color-rgb: rgb(53, 154, 204);
    --secondary-color-variant: rgba(53, 154, 204, .4);

    --content-bg-color: #037edb10;
    --content-border-color: rgba(53, 153, 204, .5);
    --content-border-color-variant: rgba(53, 153, 204, .2);

    --background-body: #0f0e13;
    --background-bg: #1f1f38;
    --background-bg-variant: #2c2c6c;

    --gray: rgba(255, 255, 255, .6);
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

hr.dev, hr#two.dev, hr#three.dev{
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--primary-color-variant);
    margin-top: 50px;
    margin-bottom: 50px;
}

hr#two.dev{
    width: 50%;
}

hr#three.dev{
    width: 30%;
}

body{
    background: var(--background-body);
    height: 100%;
    color: #fff;
    display: block;
    text-align: center;
    overflow-x: hidden;
}

.dev-title{
    font-size: 2rem;
}

.dev-background {
    padding: 20px;
    height: 100%;
    background: radial-gradient(at 0% 0%, var(--primary-color-variant), transparent 70%),
    radial-gradient(at 100% 100%, var(--primary-color-variant), transparent 50%)
}

@media screen and (max-width: 960px) {
    
    hr#one.dev, hr#two.dev, hr#three.dev{
        width: 100%;
    }
}