/* import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* global */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* var */

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #037edb;
  --color-primary-variant: rgba(3, 126, 219, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 600ms ease-in-out;

  --container-width-lg: 100%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* defaults */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  background-color: #0f0e13;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

hr {
  border: 1px solid var(--color-primary);
  margin: 20px auto;
  width: 50%;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

/* class defaults */

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  text-align: center;
}

.gradient-bg-welcome {
  background: radial-gradient(at 0% 0%, rgba(3, 126, 219, .3), transparent 50%), radial-gradient(at 100% 50%, rgba(3, 126, 219, .3), transparent 50%), radial-gradient(at 100% 0%, rgba(3, 126, 219, .1), transparent 50%);
}

.text-light {
  color: var(--color-light);
  font-size: 1.1rem;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.carousel .slide img{
  width: 100%;
  border: 2px solid var(--color-primary);
}

.carousel .thumb{
  border: 2px solid rgba(3, 126, 219, .1);
}

@media screen and (max-width: 960px) {
  hr{
    width: 90%;
  }
  .carousel .slide img{
    width: 100%;
  }
}