.dev-techs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}

.dev-techs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    border: 1px solid rgba(3, 126, 219, .2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.dev-techs-container img{
    user-select: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.dev-techs-container img:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 960px) {

    .dev-techs-container{
        padding: 10px;
    }

}