.dev-techs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}

.dev-techs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    border: 1px solid rgba(3, 126, 219, .2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
}

.dev-techs-container:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.dev-techs-container img{
    user-select: none;
    transition: all .3s ease-in-out;
}

.dev-techs-container img:hover{
    transform: scale(1.2);
}

.dev-techs-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.dev-techs-buttons button{
    width: 100%;
    padding: .9em 4em;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: none;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: all .7s;
}

.dev-techs-buttons button::before{
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    transform: skewX(45deg);
    z-index: -1;
    transition: width .7s;
}

.dev-techs-buttons button:hover::before {
    width: 250%;
}

.dev-techs-buttons button:hover{
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--primary-color);
    box-shadow: 4px 5px 17px -4px var(--primary-color);
}

.dev-techs-buttons button:disabled{
    opacity: .5;
    cursor: not-allowed;
    position: none;
}

.dev-techs-buttons button:disabled:hover{
    color: var(--primary-color);
    transform: none;
    outline: none;
    box-shadow: none;
}

.dev-techs-buttons button:disabled::before{
    width: 0;
}

@media screen and (max-width: 960px) {

    .dev-techs-container{
        padding: 10px;
    }

    .dev-techs-buttons button{
        padding: .8em 2em;
    }

}